@import url("site.css");



.form-cont{
	max-width: 500px;	
	margin: 0 auto;
	
	h2{text-align: center; margin-bottom: 1em;}
	
	
}

.button-cont{
	
	display: flex;
	justify-content: space-around;
	margin-bottom: 2em;
}